.navigation {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  background: linear-gradient(to bottom left, #19865c, #116944);

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5rem;
    width: 12rem;

    & img {
      border-radius: 5rem;
      height: 4rem;
      width: 5rem;
    }
    & h2 {
      text-align: center;
      color: #eee;
      font-weight: 500;
      font-family: 'Truculenta', sans-serif;
    }
  }
}
