html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  overflow-x: hidden;
}

a {
  color: blue;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

.img-responsive {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
}

.btn {
  max-width: 10rem;
  padding: 1rem 2rem;
  border: 1px solid #eee;
  border-radius: 10px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  &:hover {
    border: 1px solid #222;
  }
}
